.register h3 {
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    margin: 25px 0;
    text-transform: uppercase;
}

.alert-success, .alert-danger{
	display: none;
}

#accountForm{
	padding: 50px 25px;
	text-align: center;
}

.message-frame{
    color: #ff0000;
    margin: 15px auto;
    text-align: center;
    width: 50%;
}

.message-frame .alert-danger, .message-frame .alert-success{
	
}

.form-group {
    margin-bottom: 28px;
}

#noty{
	display: none;
	color: green;
	width: 200px;
	height: 30px;
	line-height: 30px;
	position: absolute;
}

#uploadBut{
    background-color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 40px;
    line-height: 16px;
    padding: 10px;
    width: 100px;
}

#photo{
    float: left;
    height: auto;
    width: 190px;
}

#imagForm img{
	float: right;
	width: 40px;
	height: 40px;
}

.block div{
    line-height: 12px;
    min-height: 53px;
    padding: 10px;
}
.error{
	color: #ff0000;
}
.register #error{
	color: #ff0000;
	text-align: center;
	height: 30px;
	line-height: 30px;
}
.block{
	padding: 0;
}

.odd{
	background-color: #fafafa;
}

.buttons{
	margin: 60px 0 0;
}

.title{

	padding: 20px 0;
}